:root {
  --header-height: 60px;
  --default-bg: #eee;
}

* {
  box-sizing: content-box;
}

body,
html {
  width: 100%;
}

#header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 1px 1px 1px #666;
}

#header ul {
  width: 100%;
  height: var(--header-height);
}

#header ul > li {
  display: inline-block;
  height: var(--header-height);
  line-height: var(--header-height);
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

#header ul > li:hover {
  color: #2196f3;
}

#app {
  width: 1200px;
  margin: 0 auto;
  min-height: 300px;
  margin-top: calc(var(--header-height) + 20px);
  padding: 2rem 0;
  background-color: var(--default-bg);
}

.ct {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

p {
  line-height: 2rem;
}

.p-f-p {
  color: #2196f3;
}

.p-f-s {
  color: #ffc107;
}

.p-f-e {
  color: #f44336;
}

.p-f-g {
  color: #8bc34a;
}

a:link {
  color: #ce93d8;
}
a:visited {
  color: #ce93d8;
}
a:hover {
  color: var(--default-bg);
}
a:active {
  color: var(--default-bg);
}
