* {
  box-sizing: content-box;
}

body,
html {
  width: 100%;
}

#app {
  width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #eee;
}

.ct {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

p {
  line-height: 2rem;
}

.p-f-p {
  color: #2196f3;
}

.p-f-s {
  color: #ffc107;
}

.p-f-e {
  color: #f44336;
}

.p-f-g {
  color: #8bc34a;
}

a:link {
  color: #ce93d8;
}
a:visited {
  color: #ce93d8;
}
a:hover {
  color: #eee;
}
a:active {
  color: #eee;
}
